# .idea
.idea/codeStyles
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

# MacOS
.DS_Store

# Gradle
.gradle
/gradle
/local.properties
/build

out/

*.iml

/captures
.externalNativeBuild
.vscode
.settings